<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Nesset Musikkfest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>45D621231E77EB34007E9E35</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>45D621371E77EB35007E9E35</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>45D621421E77EB35007E9E35</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
